# Android
*.apk
*.aab
*.ap_
*.dex
*.class
*.keystore
!debug.keystore
.gradle/
build/
local.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Node
node_modules/
npm-debug.log*

# Logs
*.log

# Temp
*.tmp
*.bak
